body{
	margin: 0;
	padding: 0;
}

.navbar{
	position: fixed;
	padding-left:7px;
	padding-top: 1em;
	margin:0;
	height: 150px;
}

ul{
	padding-top: 1em;
	padding: 0;
	font-size: 16px;
}

li{
	padding-bottom: 5px;
	list-style: none;
}

li.name{
	padding-bottom: 20px;
}

li.contact{
	padding-top: 20px;
}

a{
	text-decoration: none;
	color: black;
}

/*slideshow*/


.container{
	width:460px;
	height: 600px;
	position: relative;
	padding-top: 35px;
	padding-left: 30%;
	
}

.active{
	width:460px;
	height: 600px;
	position: absolute;
}

.slide{
	display:none;
}

.slide.active{
	display:block;
}

img{
	width:460px;
	height: 600px;
}

/* left and right arrows */

.arrows{
	margin-top: 600px;
	margin-left: 90%;

}

.prev{
	float:left;
	cursor:pointer;
}

.next{
	float:right;
	cursor:pointer;
}

.container > .slide::first-of-type.active ~ .arrows > .prev {
	display:none;
}

.container > .slide::last-of-type.active ~ .arrows > .next {
	display: none;}


/*videos*/

.first{
	padding-top: -1px;
	padding-bottom: 4em;
}

/*contact*/

.email{
	margin:0;

}

.email img{
	height:80px;
	width:100px;

}


.email p.gmail{
	padding: 0;

}

@media screen and (max-width: 556px){
	
	body{
		font-size: 11px;
	}

	ul{
		font-size: 11px;
	}

	.artwork{
		padding-left: 15%;
	}

	.artwork-wrapper{
		width:460px;
		height: 600px;
		padding: 0;
		padding-top: 17%;
		
	}

	img{
		width:230px;
		height: 300px;
	}

	.arrows{
		margin-top: 300px;
		margin-left:93%;
	}

	.next{
		margin-right: 239px;
		float:right;
		cursor: pointer;
	}

	.prev{
		margin-left: -248px;
		float:left;
		cursor: pointer;
	}
}


